@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// fvセクション
	.p-index-fv{
		img{
			width: 100%;
			aspect-ratio: 5/6;
		}
	}
@include m.mq(pc) {
	.p-index-fv{
		img{
			width: 100%;
			aspect-ratio: 7/3;
			max-height: 770px;
		}
	}
}
