@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// fvセクション
.p-index-fv {
  padding-bottom: 60px;
  img {
    width: 100%;
    aspect-ratio: 375/450;
  }
}
@include m.mq(pc) {
  .p-index-fv {
    padding-bottom: 80px;
    img {
      width: 100%;
      aspect-ratio: 1400/600;
    }
  }
}
