@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// ideaセクション
.p-corporate-ideal{
	margin-top: 85px;
	padding-bottom: 93px;
	.p-corporate-ideal__heading{
		margin-top: 40px;
		font-size: 1.8rem;
		font-weight: bold;
	}
	.p-corporate-ideal__content-wrapper{
		width: 100%;
		max-width: 720px;
		margin: 0 auto;
	}
	.p-corporate-ideal__text{
		margin-top: 20px;
	}
	.p-corporate-ideal__img-wrapper{
		img{
			width: 100%;
		}
	}
}
@include m.mq(pc) {

}
