@use "../../foundation/import";
@use "../../mixin" as m;
// Base (Mobile First)

// primaryセクション
.p-news-primary {
  margin-top: 40px;
  padding-bottom: 120px;
  .p-news-primary__table {
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(12px, 1.9vw, 16px); //両方を設定したい場合
  }
  .p-news-primary__tr {
    height: 54px;
  }
  .p-news-primary__th {
    border-bottom: 1px solid import.$color-black;
    background-color: import.$color-lightgray3;
    vertical-align: middle;
    padding-left: 1em;
  }
  .p-news-primary__td {
    border-bottom: 1px solid import.$color-black;
    vertical-align: middle;
    padding-left: 1em;
  }
  .p-news-primary__tr:nth-of-type(1) .p-news-primary__th {
    border-top: 8px solid import.$color-gray2;
  }
  .p-news-primary__tr:nth-of-type(1) .p-news-primary__td {
    border-top: 8px solid import.$color-gray1;
  }
}

.p-works-primary {
  .p-works-primary__container:nth-of-type(1){
    margin-top: 85px;
  }
  .p-works-primary__container:nth-of-type(2){
    margin-top: 46px;
  }
  .splide {
    margin-top: 35px;
    padding-bottom: 40px;
  }
  .splide__arrow{
    display: none;
   }
   .p-works-primary__img-wrapper{
    position: relative;
  }

.p-works-primary__img-wrapper img {
  max-width: 100%;
  aspect-ratio: 375/246;
  height: auto;
}
.splide__pagination__page{
  background-color: import.$color-lightgray2;
  background-repeat: no-repeat;
  background-size: contain;
  height: 4px;
  width: 30px;
  border-radius:0;
}
.splide__pagination__page[class*="is-active"]{
    background-color: import.$color-gray1;
  }
  .p-works-primary__text{
    width: 100%;
    max-width: 375px;
    height: 51px;
    background-color: import.$color-mask;
    opacity: 0.7;
    color: import.$color-white;
    position: absolute;
    bottom: 0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@include m.mq(pc) {
  .p-works-primary {
  .p-works-primary__img-wrapper img {
    aspect-ratio: 580/380;
  }
  .p-works-primary__text{
    max-width: 580px;
    padding-left: 1em;
  }
  }

}
