@use "../foundation/import";
@use "../mixin" as m;

// footerセクション
.l-index-footer {
  background-color: import.$color-main;
  padding-bottom: 40px;
  .l-index-footer__grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 108px 216px 61px;
    grid-column-gap: 0px;
    grid-row-gap: 24px;
    color: import.$color-white;
    margin-left: 4.267vw;
  }
  .l-index-footer__list-company{
    margin-top: 40px;
  }
  .l-index-footer__list-address{
    margin-top: 16px;
    span{
      display: block;
    }
  }
  .l-index-footer__grid-item:nth-last-of-type(2){
    .l-index-footer__list{
      padding-bottom: 24px;
    }
    .l-index-footer__list:last-child{
      padding: 0;
    }
  }
  .l-index-footer__list-contact{
    padding-bottom: 24px;
  }
}

@include m.mq(pc) {
    .l-index-footer {
      padding-bottom: 0px;
      .l-index-footer__grid-wrapper {
        display: grid;
        grid-template-columns: 66.042% 144px 128px;
        grid-template-rows: 240px;
        grid-column-gap: 40px;
        grid-row-gap: 0px;
      }
      .l-index-footer__grid-item{
        margin: 0 auto;
        margin-top: 40px;
      }
      .l-index-footer__list-company{
        margin-top: 8px;
      }
      .l-index-footer__list-address{
        margin-top: 7px;
        span{
          display: inline-block;
        }
      }
      .l-index-footer__grid-item:nth-last-of-type(2){
        .l-index-footer__list{
          padding-bottom: 8px;
        }
      }
      .l-index-footer__list-contact{
        padding-bottom: 8px;
      }
  }
}
